

body{
  --font-smallest: 0.8em;
  --font-smaller: 0.9em;
  --font-small: 1em;
  --font-ui-smaller: 11px;
  --font-ui-small: 12px;
  --font-ui-medium: 14px;
  --font-ui-large: 20px;
  --line-height-normal:1.1;
  --line-height-tight:1;
  --list-spacing:0;
  --checkbox-margin-inline-start:0.3em;
  background-color: white; /* Set background color to white */
}

input.prompt-input {
  height: 2px !important;
  padding: 10px !important;
}
.inline-title {
    padding-bottom: 2px;
    border-bottom: 1px solid lightgray;
}

.prompt {
  border-radius: 2px !important;
}
.prompt-results {
    list-style: none;
    margin: 0;
    padding: 3px;
    overflow-y: auto;
}

.prompt-instructions {
  padding: 0px;
  gap: 0;
}

.metadata-properties {
  gap: 0;
  padding: 0;
}

.metadata-property input[type='text'], .metadata-property input[type='date'], .metadata-property input[type='datetime-local'], .metadata-property input[type='number'], .metadata-property .multi-select-container {
  padding: 0;
}

.metadata-property input[type='text'], .metadata-property input[type='date'], .metadata-property input[type='datetime-local'], .metadata-property input[type='number'], .metadata-property .multi-select-container {
  padding: 0;
}

.community-item-desc, .community-modal-info-desc, .community-modal-search-summary, .inline-title, .metadata-property-key-input, .metadata-input-longtext, .multi-select-pill-content, .nav-file-title-content, .nav-folder-title-content, .search-result-file-match, .setting-item-description, .setting-item-name, .suggestion-title, .bases-table-header-name, .table-cell-wrapper, .titlebar-text, .tooltip, .tree-item-inner, .view-header-breadcrumb, .view-header-title, .workspace-tab-header-inner-title, input {
  padding: 0;
}

input.metadata-property-key-input {
  padding: 0;
}
.suggestion-item {
    padding: 0.4px;
}

.suggestion-item.is-selected {
    background-color: hsla(var(--interactive-accent-hsl), 0.8);
    border-radius: 2px !important;
}

.tree-item-self.mod-collapsible {
  /*padding: 10px;*/
}
.workspace-tab-header-container {
  padding: 0px;
  height: 0;
}

.tree-item-self.mod-collapsible {
  padding-bottom: 0;
  padding-top: 0;
}


.nav-file-title {
  padding: 1px;
}

.nav-header {
    padding: 0px;
}

.nav-files-container {
  padding: 0;
}

.horizontal-tab-nav-item, .vertical-tab-nav-item {
  padding: 0;
}

.setting-item {
  padding: 0;
}

.vertical-tab-content {
  padding: 5px;
}

.metadata-container {
  padding: 0;
}

.HyperMD-header-1::after, h1,
.HyperMD-header-2::after, h2,
.HyperMD-header-3::after, h3 {
    display: block;
    content: "";
    padding-bottom: 2px;  
    border-bottom: 1px solid lightgray;
}
/* Remove all margins and padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

/* Make text align to the left border */
.markdown-preview-view,
.markdown-source-view {
    margin: 0 !important;
    padding: 0 !important;
}

.markdown-source-view.mod-cm6.is-readable-line-width:not(.is-rtl) .cm-scroller > *:first-child {
  margin-left: 0;
}

.view-content > .markdown-source-view.mod-cm6 > .cm-editor > .cm-scroller {
  padding: 5px 0px 0px 5px;
}

.suggestion-item.is-selected {
  background-color: hsla(var(--interactive-accent-hsl), 0.8);
  border-radius: 6px;
}

.prompt {
  border-radius: 0px;
}


.suggestion-highlight {
  color: var(--text-accent);
}

.suggestion-item.is-selected .suggestion-highlight {
  color: white !important;
}

input.prompt-input {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px !important;

}

